src/main/mule/json-to.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	 <flow name="JSON(singleObject)toXML_NoTransformation" doc:id="3957206d-18ff-4b8f-8412-8e62595f6445" >
		<http:listener doc:name="Listener" doc:id="010ac008-30c2-4fb0-b7e8-33e3ad685ad2" config-ref="HTTP_Listener_config" path="JSONsingleObjectToXML_NoTransformation"/>
		<set-payload value="${file::justSingleObject.json}" doc:name="Set Payload" doc:id="56abf439-cf42-49d5-981d-56b61e011089" mimeType="application/json"/>
		<ee:transform doc:name="Transform Message" doc:id="989f7f56-1127-4768-a961-717ae7f2bb76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
root:payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	 <flow name="PlainJSONtoPlainJSONFlow" doc:id="f4320ae4-d509-4ba6-bb15-fa211e0830b8" >
		<http:listener doc:name="Listener" doc:id="fa4e0f32-d9de-4e3b-93e5-11debb83b175" config-ref="HTTP_Listener_config" path="PlainJSONtoPlainJSON"/>
		<ee:transform doc:name="Transform Message" doc:id="e9d0617b-16e4-4ea3-93e2-98f2c2d3642b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PlainJSONtoPlainXML" doc:id="2c88b0db-93ca-40d8-8b62-f9e45a62c299" >
		<http:listener doc:name="Listener" doc:id="da450d1c-dcb6-487a-905a-5675960525c9" config-ref="HTTP_Listener_config" path="PlainJSONtoPlainXML"/>
		<ee:transform doc:name="Transform Message" doc:id="17cff66e-d792-42a6-8fdc-c61890e1b212" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PlainJSONtoAdditionJSON" doc:id="0a9c1fc2-ecf1-489e-8262-ea2b2e850fd9" >
		<http:listener doc:name="Listener" doc:id="97713c7d-a752-476c-9f8b-eb228235ba4d" config-ref="HTTP_Listener_config" path="PlainJSONtoAdditionJSON"/>
		<ee:transform doc:name="Transform Message" doc:id="d893fcbe-5ed7-4b46-9e4c-87498a9a3316" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PlainJSONtoSubtractionJSON" doc:id="b4faf4e8-8ed8-43de-8705-79159f84ec40" >
		<http:listener doc:name="Listener" doc:id="0c6ae4b6-d613-4167-b259-56918bfb0cec" config-ref="HTTP_Listener_config" path="PlainJSONtoSubtractionJSON"/>
		<ee:transform doc:name="Transform Message" doc:id="ddb7ff93-4670-4173-bc72-cc6e27af5821" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="PlainJSONtoNrecordsDynamicHandlingFlow" doc:id="0642fb77-7d63-4e26-861d-e7a079c624f6" >
		<http:listener doc:name="Listener" doc:id="473ba390-27b7-453f-ae53-f24550fc42c8" config-ref="HTTP_Listener_config" path="PlainJSONtoNrecordsDynamicHandlingFlow"/>
		<ee:transform doc:name="Transform Message" doc:id="8b92d106-8f65-4f4f-b2e0-8f873cd70cda" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="settingJSONPayloadByUsingSetPayload" doc:id="4bd5724c-4944-4f98-9dde-28f96c33cb84" >
		<http:listener doc:name="Listener" doc:id="36de68c6-65b6-4548-ae67-c3c6cb870404" config-ref="HTTP_Listener_config" path="settingJSONPayloadByUsingSetPayload"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="60e6361a-27da-47ae-95da-2a6253b14442" />
		<logger level="INFO" doc:name="payload" doc:id="47039e75-2960-4053-b700-727055bbd36b" />
		<logger level="INFO" doc:name="payload type" doc:id="c59a746f-5b6f-40fc-b28f-07b502f9c6fe" message="#['payload type is:' ++ typeof(payload)]"/>
	</flow>
	<flow name="settingJSONObjectPayloadByUsingTransformer" doc:id="dabaacb8-7215-4381-a418-babf5f9a9eeb" >
		<http:listener doc:name="Listener" doc:id="9785e9b3-9107-49d8-ac7e-1d5ee6060388" config-ref="HTTP_Listener_config" path="settingJSONPayloadByUsingTransformer"/>
		<ee:transform doc:name="Transform Message" doc:id="54cffa5d-f5f4-4881-8548-a0af521b1d9e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	a:"1",
	b:"2"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="settingJSONArrayPayloadByUsingTransformer" doc:id="a660801b-8ad2-4583-bf21-1ebf07df32c5" >
		<http:listener doc:name="Listener" doc:id="fabb08ac-bb27-443e-ba81-36ca49d0ec31" config-ref="HTTP_Listener_config" path="settingJSONArrayPayloadByUsingTransformer"/>
		<logger level="INFO" doc:name="test" doc:id="f2783774-b410-46b6-8bd9-27ee3b256225" message="remove"/>
	</flow>
 </mule>
